{% extends 'dashboard/main.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="pagetitle">
    <h1>About</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">About</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->

  {% include 'dashboard/message.html' %}


  {% if not about %}
    <form action="" method="post">
         {% csrf_token %}
         <div class="row">
            <div class="col-md-6">
                {{ forms.name|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ forms.birthday|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ forms.email|as_crispy_field }}
            </div>
            <div class="col-md-6">
                {{ forms.phone|as_crispy_field }}
            </div>
         </div>
         {{ forms.address|as_crispy_field }}
         {{forms.media}}
         {{ forms.description|as_crispy_field }}

         <button type="submit" class="btn btn-primary btn-sm">
          <i class="bi bi-plus-circle"></i> Create</button>
    </form>
  {% else %}
    <form action="" method="post">
      {% csrf_token %}
      <div class="row">
        <div class="col-md-6">
            {{ forms.name|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ forms.birthday|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ forms.email|as_crispy_field }}
        </div>
        <div class="col-md-6">
            {{ forms.phone|as_crispy_field }}
        </div>
      </div>
      {{ forms.address|as_crispy_field }}
      {{forms.media}}
      {{ forms.description|as_crispy_field }}

      <button type="submit" class="btn btn-primary btn-sm">
        <i class="bi bi-pencil"></i> Update
      </button>
      <a href="{% url 'about_delete' about.slug %}" class="btn btn-danger btn-sm">
        <i class="bi bi-trash"></i> Delete</a>
    </form>
  {% endif %}
{% endblock content %}