<section id="facts" class="facts">
    <div class="container">

      <div class="section-title">
        <h2>Facts</h2>
        <p>{{ fact_content }}</p>
      </div>

      <div class="row no-gutters">

        {% for fact in facts %}
          <div class="col-lg-3 col-md-6 d-md-flex align-items-md-stretch" data-aos="fade-up">
            <div class="count-box">
              {% if fact.fact == "Happy Clients" %}
                <i class="bi bi-emoji-smile"></i>
              {% elif fact.fact == "Project" %}
                <i class="bi bi-journal-richtext"></i>
              {% elif fact.fact == "Hours Of Support" %}
                <i class="bi bi-headset"></i>
              {% else %}
                <i class="bi bi-people"></i>
              {% endif %}
              <span data-purecounter-start="0" data-purecounter-end="{{ fact.number }}" data-purecounter-duration="1" class="purecounter"></span>
              <p><strong>{{ fact.fact }}</strong> consequuntur quae</p>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>
  </section>
  