<section id="portfolio" class="portfolio section-bg">
    <div class="container">

      <div class="section-title">
        <h2>Portfolio</h2>
        <p>{{ gallery_content }}</p>
      </div>

      <div class="row" data-aos="fade-up">
        <div class="col-lg-12 d-flex justify-content-center">
          <ul id="portfolio-flters">
            <li data-filter="*" class="filter-active">All</li>
              {% for gallery in galleries %}
                <li data-filter=".{{gallery.get_subject_display}}">{{ gallery.get_subject_display }}</li>
              {% endfor %}
          </ul>
        </div>
      </div>

      <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="100">

        {% for gallery in galleries %}
          <div class="col-lg-4 col-md-6 portfolio-item {{gallery.get_subject_display}}">
            <div class="portfolio-wrap">
              <img src="{{ gallery.image.url }}" class="img-fluid" alt="">
              <div class="portfolio-links">
                <a href="{{ gallery.image.url }}" data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i class="bx bx-plus"></i></a>
                <a href="{{ gallery.image.url }}" title="More Details"><i class="bx bx-link"></i></a>
              </div>
            </div>
          </div>
        {% endfor %}

      </div>

    </div>
  </section>