{% extends 'dashboard/main.html' %}
{% block content %}
<div class="pagetitle">
    <h1>Dashboard</h1>
    <nav>
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="{% url 'dashboard' %}">Home</a></li>
        <li class="breadcrumb-item active">Skill / Delete</li>
      </ol>
    </nav>
  </div>
  <!-- End Page Title -->
    <p>Delete</p>
    <h3>Are your Sure, You want to Delete? <strong><i>datas for {{skill.skill}}</i></strong></h3>
    <form action="" method="post">
        {% csrf_token %}
        <a href="{% url 'skill' %}" class="btn btn-primary btn-sm">
          <i class="bi bi-x-circle"></i> Cancel
        </a>
        <button type="submit" class="btn btn-danger btn-sm">
          <i class="bi bi-check-circle"></i> Confirm
        </button>
    </form>
{% endblock content %}